.bg-dark2 {
    background-color: black!important;
}
.btn-primary {
    background-color: #c7673d!important;
    border-color: white!important;
}
.btn-primary2 {
    background-color: #c7673d!important;
    border-color: white!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white!important;
}
.navbar-collapse{
    justify-content: flex-end;
}

.cart-link{
    margin-left: 10px;
}

.products{
    display: flex;
    flex-direction: column;
}

.value-inputs{
    display: block;
}

.product-container{
    background-image:url("159Z_2107.w026.n002.628B.p1.628.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 4rem;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
}

.all-elements{
    margin: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card{
    border: 1px solid black!important;
    background: white 10%;
}
.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}

.teste{
    background-color: orange;
}

.new-footer{
    width: 100%;
    background: black !important;
}

.links-sup{
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.links-sups{
    display: flex;
    justify-content: space-between;
}

.price{
    color: rgb(95, 3, 3);
}

.disp-in{
    display:flex;
}

.navbar-expand-lg {
	background: #090c14!important;
}
.position-fixed {
    position: relative!important;
    background: black!important;
}

.most-products{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.elements-for-sell{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product-catalog{
    gap: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.card-most{
    width: 60%;
}

.card-mp{
    height: 40%!important;
}

.sty{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.input-valor{
    width: 100%;
}

.view-product{
    cursor: pointer;
}

.view-product:active{
    opacity: 0.8;
}

.fa-star{
    color: gray;
}

.fa-star.checked{
    color:orange;
}

#card-elements{
    display: grid;
    border: 1px solid rgb(255, 255, 255);
    width: 60%;

}

.product-style{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0);
}

.card-box {
    width: 100%;
    display:flex;
    justify-content: space-between;
    
}

@media (max-width: 700px)
    {   
        .card-box{
            display:flex;
            flex-direction: column;
            width: 100%;
        }
      
    }

.infobuy-sty{
    display:grid;
    height: 100%;
    width: 40%;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 2px 8px 0 rgb(0, 0, 0);
    
}

#all-info{
    display: flex;
    justify-content: flex-end;
}

#main-card{
    width: 100%;
    align-items: center;
}

.arrumar{
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
}
.card{
    width: 18rem;
    height: 35rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 15px;
}

.count-purchase{
    width: 20%; 
}

.view-count{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#filter-form{
    display: flex;
   
    gap: 2rem;
}

#button-filter{
    width: 4rem;
    height: 2.5rem;
}